.button-outside {
  width: min-content;
  height: 32px;
  padding: 4px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.2s;
  box-shadow: 0px 0px 1px 1px #00000033;
  &:hover {
    box-shadow: 0px 0px 2px 1px #00000033;
  }
  &:active {
    box-shadow: 0px 0px 4px 1px #00000033;
  }
}

.button-inside {
  width: 200%;
  height: 200%;
  position: absolute;
  left: -50%;
  top: -50%;
  background-image: linear-gradient(135deg, #ffd26f99 10%, #3677ff99 100%);
  transition: background 0.2s, transform 0.2s;
  &:hover {
    transform: rotate(30deg);
  }
  &:active {
    transform: rotate(60deg);
  }
}
