.circular-progress-component {
  width: var(--size, 32px);
  height: var(--size, 32px);
  font-size: calc(var(--size, 32px) / 8);
  background-image: linear-gradient(
    var(--color-light) 50%,
    var(--color-dark) 50%
  );
  display: flex;
  align-items: center;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  animation: rotating linear 5s infinite;
}

@keyframes rotating {
  to {
    transform: rotate(1turn);
  }
}

.circular-progress-component::before,
.circular-progress-component::after {
  content: '';
  width: 50%;
  height: 50%;
  background-color: var(--inner-color);
  box-sizing: border-box;
  border: calc(var(--size, 32px) / 8 * 1.5) solid var(--outer-color);
}

.circular-progress-component::before {
  --inner-color: var(--color-light);
  --outer-color: var(--color-dark);
}

.circular-progress-component::after {
  --inner-color: var(--color-dark);
  --outer-color: var(--color-light);
}

.circular-progress-component,
.circular-progress-component::before,
.circular-progress-component::after {
  border-radius: 50%;
}
